.turnos-cancel-button {
  background-color: white;
  color: #dc143c;
  border: solid 1px #dc143c;
  order: -1;
  border-radius: 8px;
  min-height: 52px;
  min-width: 160px;

  &:hover {
    background-color: #dc143c;
    color: white;
  }
}

.turnos-html {
  font-size: 16px;
  color: #3f4041;
}

.turnos-confirm-button {
  border-radius: 8px;
  min-height: 52px;
  min-width: 160px;

  &:hover {
    background-color: #89ff89;
  }
}

.turnos-title {
  font-size: 25px;
  color: #3f4041;
}