.login-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page .login-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eeffed;
  padding: 0px 45px 0 0px;
  gap: 32px;/* espacio entre imagen y formulario */
}

.login-page .bienvenida {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 40px 0;
  height: fit-content;
  color: #333;
}

.login-page .image-section {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  position: relative;
}

.login-page .image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 0%;
  padding-bottom: 0%;
}

.medicina-integral-section {
  position: absolute;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    /* linear-gradient(rgba(0, 171, 1, 0.24), rgba(0, 171, 1, 0.24)); */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.medicina-integral-section .medicina-integral-logo {
  max-width: 48px;

  @media (min-width: 1024px) {
    max-width: 118px;
  }
}

.medicina-integral-title {
  color: #fff;
  font-size: 19.86px;

  @media (min-width: 1024px) {
    font-size: 48.83px;
  }
}

.medicina-integral-title p:nth-child(2) {
  text-transform: uppercase;
  line-height: 1;
}

.login-page .login-container {
  width: 50%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.login-page .login { /*form*/
  width: 500px;
  /* min-width: 295px; */
  /* height: 450px; */
  background: #fff ;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.login-page .login label, .login input, .login button, .login form {
  height: fit-content;
}

.login-page .login label {
 left: 10%;
  width: fit-content;
  padding-left: 0;
  position: relative;
  height: fit-content;
}

/*--------------------------------------*/
.login-page input {
  width: 80%;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  left: 0;
  align-self: center; /* centra horizontalmente los inputs */
}

.login-page .login-container form {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.login-page button {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.login-page button:hover {
  background: #0056b3;
}

.login-page .error {
  color: #dc143c;
  font-size: 14px;
  padding-left: 10%;
}

.login-page .footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  /* margin-left: 10px; */
  height: fit-content;
  text-align: center;
}


.login-page .footer span {
  font-weight: bold;
  color: #007bff;
}

.login-page .footer span:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .login-page .login-wrapper {
    background: #eeffed;
  }

  .login-page .login-container {
    align-items: center;
    width: 100%;
    margin: 0 20px;
    background: #fff;
  }

  .login-page .login-container .login {
    background: none;
    box-shadow: none;
    height: fit-content;
  }

  .login-page .login-wrapper {
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    justify-content: start;
  }

  .login-page .image-section,
  .login {
    flex: none;
    width: 100%;
    max-width: 100%;
    /* height: fit-content; */
    height: 64px;
  }

 .login-page .image-section img {
    max-height: 250px;
  }

  .login-page .login-container form {
    padding: 0;
  }

}

/*este es el alerta*/
.swal-title-small {
  font-size: 20px;
}

.swal-popup-small {
  padding: 1em;
}

.swal-button-small {
  font-size: 16px;
  padding: 10px 24px;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

.swal-button-small:hover {
  background: #0056b3;
}

/*ocultar contraseña*/

.input-eye {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%; 
  margin: 0 auto;

}

.input-eye input {
  width: 100%;
  padding-right: 40px;
}

.icon-eye {
  position: absolute;
  right: 10px;
  cursor: pointer;

}