@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './styles/turnos.css';
@import './styles/modalesSwal.css';
@import './styles/animation.css';

@theme {
  /* Colours */
  --color-negro-principal: #3f4041;
  --color-blanco-principal: #ffffff;
  --color-fondo-documento: #eeffed;
  --color-fondo-modal: #3f4041;
  --color-gris-placeholder: #858585;
  --color-gris-border: #cecece;

  --color-menta-100: #c4ffc4;
  --color-menta-200: #89ff89;
  --color-menta-600: #00ab01;

  --color-rojo-alerta: #dc143c;

  --color-negro-translucido: rgba(0, 0, 0, 0.56);
  --color-negro-semi-translucido: rgba(0, 0, 0, 0.76);
  --color-verde-translucido: rgba(0, 171, 1, 0.24);

  /* Shadow */
  --shadow-custom-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Inter', sans-serif; /* Por default, todo el texto tendrá la fuente Inter */
  color: #3f4041; /* Por default, todo el texto tendrá este color */
  font-weight: 500; /* Por default, todo el texto será Medium */
  background-color: #eeffed;
  overflow-x: hidden;
}

/* Estilos para el elemento <select /> */

select {
  appearance: base-select;

  &::picker-icon {
    content: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7 7L13 1' stroke='currentColor' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    width: 16px;
    rotate: 90deg;
    transition: rotate 0.2s;
  }

  &:open::picker-icon {
    rotate: 0deg;
  }
}

::picker(select) {
  appearance: base-select;
  border-radius: 8px;
  border-color: var(--color-gris-placeholder);
  top: calc(anchor(bottom) + 1px);
  right: anchor(right);
}

option {
  color: var(--color-negro-principal);

  &:hover {
    background-color: var(--color-gris-border);
  }

  &:checked {
    font-weight: bold;
    background-color: var(--color-menta-200);

    &:hover {
      cursor: default;
    }
  }

  &::checkmark {
    display: none;
  }
}
