@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Colours */
  --color-negro-principal: #3F4041;
  --color-blanco-principal: #ffffff;

  --color-gris-placeholder: #858585;
  --color-gris-border: #CECECE;

  --color-menta-200: #89FF89;
  --color-menta-500: #00AB01;

  --color-rojo-alerta: #DC143C;

}

body {
  /* Fonts */
  font-family: 'Inter', sans-serif;
}