@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './styles/reintegros.css';
@import './styles/turnos.css';
/* @import './styles/buttonsCancelModal.css'; */
@import './styles/animation.css';
@import './styles/modalesSwal.css';

@theme {
  /* Colours */
  --color-negro-principal: #3f4041;
  --color-blanco-principal: #ffffff;
  --color-fondo-documento: #eeffed;
  --color-fondo-modal: #3f4041;
  --color-gris-placeholder: #858585;
  --color-gris-border: #cecece;

  --color-menta-100: #c4ffc4;
  --color-menta-200: #89ff89;
  --color-menta-600: #00ab01;

  --color-rojo-alerta: #dc143c;

  --color-negro-translucido: rgba(0, 0, 0, 0.56);
  --color-negro-semi-translucido: rgba(0, 0, 0, 0.76);
  --color-verde-translucido: rgba(0, 171, 1, 0.24);

  /* Shadow */
  --shadow-custom-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Inter', sans-serif; /* Por default, todo el texto tendrá la fuente Inter */
  color: #3f4041; /* Por default, todo el texto tendrá este color */
  font-weight: 500; /* Por default, todo el texto será Medium */
  background-color: #eeffed;
  overflow-x: hidden;
}

/* Estilos para los elementos select del formulario */
select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: 1px solid #cecece;
  top: calc(anchor(bottom) + 3px);
  border-radius: 8px;
}

option::checkmark {
  display: none;
}

option {
  color: var(--color-negro-principal);
}

option:checked {
  font-weight: bold;
}

select option .text {
  width: inherit;
}
.text-responsive {
  font-size: clamp(12px, 2vw, 18px);
}
